.header{
    text-align: center;
    width: 80%;
    color:white;
    background-color: rgb(69, 190, 211); 
    margin-top: 0px;
    border: 2px solid rgb(19, 20, 46);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 2px;
}